.env
*.pyc
*.joblib
*.html
storage
# ignore all pycaches:
__pycache__/
*.ipynb
personal/*.py
credentials.json
gmail_credentials.json
gmail_token.json
token.json
outputs/
*.log
todoist/scripts/*.log
# Screenshots added temporarily
*.png
# Chainlit config
.chainlit/
