<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="TodoistAssistant" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppStartMenuDir" Name="Todoist Assistant" />
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="CommonAppDataFolder">
        <Directory Id="APPDATADIR" Name="TodoistAssistant">
          <Directory Id="CONFIGDIR" Name="config" />
          <Directory Id="LOGSDIR" Name="logs" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="TodoistAssistantComponents">
      <ComponentRef Id="AppShortcuts" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="AppDataPermissions" />
      <ComponentRef Id="AppDataCleanup" />
      <ComponentRef Id="LogsFolder" />
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="AppStartMenuDir">
      <Component Id="AppShortcuts" Guid="*" Win64="yes">
        <Shortcut
          Id="StartMenuShortcut"
          Name="Todoist Assistant"
          Description="Launch Todoist Assistant"
          Target="[INSTALLFOLDER]todoist-assistant.exe"
          WorkingDirectory="APPDATADIR" />
        <RemoveFolder Id="RemoveStartMenuDir" Directory="AppStartMenuDir" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\TodoistAssistant"
          Name="installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="*" Win64="yes">
        <Condition>INSTALLDESKTOPSHORTCUT=1</Condition>
        <Shortcut
          Id="DesktopShortcut"
          Name="Todoist Assistant"
          Description="Launch Todoist Assistant"
          Target="[INSTALLFOLDER]todoist-assistant.exe"
          WorkingDirectory="APPDATADIR" />
        <RegistryValue
          Root="HKCU"
          Key="Software\TodoistAssistant"
          Name="desktop_shortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="APPDATADIR">
      <Component Id="AppDataPermissions" Guid="*" Win64="yes">
        <CreateFolder>
          <util:PermissionEx User="Users" Domain="BUILTIN" GenericAll="yes" />
        </CreateFolder>
        <util:RemoveFolderEx Id="RemoveAppDataDir" On="uninstall" Property="APPDATADIR" />
        <RegistryValue
          Root="HKLM"
          Key="Software\TodoistAssistant"
          Name="appdata"
          Type="string"
          Value="[APPDATADIR]"
          KeyPath="yes" />
      </Component>
      <Component Id="AppDataCleanup" Guid="*" Win64="yes">
        <Condition>NOT UPGRADINGPRODUCTCODE</Condition>
        <RemoveFile Id="RemoveEnvFile" Name=".env" On="uninstall" />
        <RegistryValue
          Root="HKLM"
          Key="Software\TodoistAssistant"
          Name="cleanup"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="LOGSDIR">
      <Component Id="LogsFolder" Guid="*" Win64="yes">
        <CreateFolder>
          <util:PermissionEx User="Users" Domain="BUILTIN" GenericAll="yes" />
        </CreateFolder>
        <RegistryValue
          Root="HKLM"
          Key="Software\TodoistAssistant"
          Name="logs"
          Type="string"
          Value="[LOGSDIR]"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="TelemetryOptIn" Guid="*" Win64="yes">
        <Condition>WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND SKIP_TELEMETRY_REGISTRY &lt;&gt; 1</Condition>
        <RegistryValue
          Root="HKCU"
          Key="Software\TodoistAssistant"
          Name="telemetry_opt_in"
          Type="integer"
          Value="[WIXUI_EXITDIALOGOPTIONALCHECKBOX]"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
